@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,900;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', 'Montserrat';
  margin: 0 auto;
}

.missionBody {
  display: flex;
  align-items: center;
}

.poster {
  width: 720px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

header > span {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

header span:first-child {
  color: rgb(142, 181, 255);
  font-size: 38px;
}

.tipsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.tips {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.tips__title {
  margin-top: 40px;
}

span {
  margin: 5px;
  margin-right: 0;
  font-size: 1rem;
  line-height: 1.8;
}

.logo {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  padding-bottom: 30px;
}

.logo img {
  width: 85px;
  transition: all 0.2s ease-in-out;
}

.logo img:hover {
  transform: scale(1.2);
}

.monthsWrapper {
  display: flex;
  flex-direction: column;
}

.months {
  display: flex;
  flex-wrap: wrap;
}

.months > span {
  width: 14%;
}

.smart {
  display: flex;
  flex-direction: column;
  width: 55%;
  background-color: rgb(142, 181, 255);
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: rgba(92, 92, 92, 0.3) 8px 8px 15px,
    rgba(221, 216, 216, 0.22) 8px 8px 15px;
}

.smart div {
  text-align: center;
  margin: 10px 0 0;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
  font-size: 18px;
}

/* COVER PAGE */
.coverbody {
  margin: 0 auto;
}

.outer::after {
  filter: blur(20px);
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/img/lockscreen.jpg') no-repeat center;
  height: 100vh;
  background-size: contain;
}

.outer a {
  text-decoration: none;
}

.btn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  margin: 30em 0 0;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

.btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn .arrow::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:hover .arrow {
  background: var(--secondary-color);
}

.btn:hover .arrow:before {
  right: 0;
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .tipsWrapper:first-of-type {
    flex-direction: column-reverse;
    width: 100%;
  }

  .months > span {
    width: 15%;
  }

  .smart {
    width: 100%;
  }
}

@media (max-width: 480px) {
  span {
    font-size: 1.1rem;
  }

  header {
    padding: 40px 10px;
  }

  header > span {
    font-size: 1.8rem;
  }

  .tips__title {
    font-size: 1.4em;
  }

  .months {
    justify-content: space-between;
    font-size: 0.9rem;
  }

  .months > span {
    width: 20%;
    font-size: 1rem;
  }

  .outer {
    background-size: cover;
  }
}
